/*font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
 font-family: 'Poppins', sans-serif;
 
}
/*header start*/
.top-section{
  overflow: hidden;
  background-image:  url(../images/bg-2.png),url(../images/shap.png);
  background-repeat: no-repeat;
  background-position: right -250px  bottom 0px, center center;
  background-size:80%, cover;
  min-height: 960px;
}
nav{
  max-width: 1200px;
 margin: 0 auto;
  height: 80px;
  
}
label.logo{
  margin: 10px;
  color: white;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  margin-right: 10px;
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1024px){
  label.logo{
    font-size: 25px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 768px){
nav ul li { 
  display: block;
 }
}
@media (min-width: 10px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 80%;
    height: 7vh;
    bottom: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
   
    margin: 20px 0;
    line-height: 20px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover {
    background: none;
    color: #ff8f9f;
  }
  #check:checked ~ ul{
    top: 80px;
  }
}
.contain{
    margin: 10px;
    display: flex;
    width: 54%;
    min-height: 800px;
    justify-content: center;
    flex-direction: column;
}
.contain h1{
     font-family: 'Roboto', sans-serif;
    font-size: 65px;
    color: #fff;
    font-weight: 500;
    line-height: 80px;

}
.contain p{
   font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 26px;
    margin: 30px 0;
}
.btn{
     padding: 20px 30px;
    background-color: #ff8f9f;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
}
.btn2{
    padding: 20px 30px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
}
.btn2 i{
  padding-right: 10px;
}
@media (max-width: 1024px){
  .top-section{
  overflow: hidden;
  background-image:  url(../images/bg-2.png),url(../images/shap.png);
  background-repeat: no-repeat;
  background-position: right -250px  bottom 70px, center center;
  background-size:90%, cover;
  min-height: 760px;
}

.contain{
    width: 64%;
    min-height: 600px; 
}

}
@media (max-width: 768px){
  .top-section{
  overflow: hidden;
  background-image:  url(../images/bg-2.png),url(../images/shap.png);
  background-repeat: no-repeat;
  background-position: right -200px  bottom 40px, center center;
  background-size:90%, cover;
  min-height: 560px;
}

.contain{
    width: 59%;
    min-height: 400px; 
}
.contain h1{
  font-size: 45px;
  line-height: 50px;
}

}
@media (max-width: 576px){
  .top-section{
  overflow: hidden;
    min-height: 560px;
    background-image: url(../images/shap.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.contain{ 
    padding: 10px;
    margin: 0;
    width: 100%;
    min-height: 400px;
    align-items: center;
    text-align: center;
}
.contain h1{
  font-size: 35px;
  line-height: 40px;
}

}
/*header end*/

/*icon box start*/
.icon-box{
  padding:100px 0;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}
.container img{
  width: 50%;
}

.single-box{
  flex: 1 1 31%;
  margin:10px;
  border-radius: 10px;
 background-color: #f1f1f1;
  padding: 100px 40px;
  text-align: center;
}
.single-box img{}
.single-box h2{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #000;
    font-weight: 500;
    line-height: 26px;
    margin: 20px 0;
}

.single-box p{
   font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
@media (max-width: 768px) {
  .icon-box{
  padding:60px 0;
}
.single-box{
  padding: 65px 25px;
  
}

}
@media (max-width: 576px) {
  .icon-box{
  padding:30px 0;
}
.single-box{
  padding: 50px 25px;
  
}

}



/*icon box end*/

/*we designed start*/
.we-design{
  padding-bottom: 100px;
}
.con-img{
  flex: 1 1 47%;
  margin: 10px;
}
.con-img img{
  width: 100%;
}
.contain-2{
   flex: 1 1 47%;
   margin: 10px;
}
.contain-2 img{
  width: 20%;
}
.contain-2 h1{
    font-family: 'popins', sans-serif;
    font-size: 50px;
    color: #000;
    font-weight: 700;
    line-height: 60px;
   margin: 20px 0 !important;
    
}
.contain-2 p{
  font-family: 'Poppins', sans-serif;
   font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 26px;
   margin:30px 0 10px 0; 
   
}
.contain-2 button{
  margin: 20px 0;
}
.icon-list{
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.icon-list i{
  color: #FF8F9F;
  padding-right: 20px;

}
.icon-list p{
  margin: 0;
}
@media (max-width: 768px){
  .we-design{
  padding-bottom: 60px;
}
.contain-2{
  margin: 15px;
}
.contain-2 h1{
  font-size: 40px;
  line-height: 45px;
}


}
@media (max-width: 576px){
  .we-design{
  padding-bottom: 30px;
}
.contain-2{
  text-align: center;
  margin: 10px;
}
.contain-2 h1{
  font-size: 30px;
  line-height: 35px;
}
.contain-2 p{
  margin:10px 0;
}

}
/*we designed end*/

/*app feture start*/
.container-2{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.single{
  margin-top: 30px;
}
.single i{
    display: inline;
    background-color: #FFF4F5;
    color: #FF7588;
    font-size: 20px;
    border-radius: 50%;
    padding: 10px;
    margin-right: 20px;
}
.single h2{
  display: inline;
  font-family: 'Poppins', sans-serif;
   font-size: 18px;
    color: #000;
    font-weight: 700;
    line-height: 26px;

}
.single p{
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
   font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 26px;
}
@media (max-width: 768px){
  .container-2{
  flex-direction: column-reverse;

}

}



/*app feture end*/

/*get your app start*/
.get-your-app{
  min-height: 600px;
  background-image: url(../images/shap-2.png);
  background-position: bottom; 
  background-size: cover;
  background-repeat: no-repeat;
  margin: 100px 0;
}

@media (max-width: 768px){
  
.get-your-app{
  min-height: 400px;
  margin: 60px 0;
}
}
@media (max-width: 576px){
  
.get-your-app{
  min-height: 400px;
  margin: 30px 0;
}
}


/*get your app end*/
/*faq section start*/
.contain-3 h2{
 font-family: 'Poppins', sans-serif;
  color: #ff7588;
  font-weight: 600;
  font-size: 25px;
  margin-top:20px;
}
/*count start*/
.count{
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right,
   #704ad1, #7250dc, #7355e6, #745bf1, #7561fc);
  color: #fff;
}
.one{
  flex: 1 1 23%;
  margin: 10px;
}
.one h2{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
    font-weight: 500;
    line-height: 80px;
}
.one p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 26px;
}
@media (max-width: 768px){
  .count{
    margin: 60px auto;
  }
  .one h2{
  font-size: 40px;
    line-height: 45px;
}
}
@media (max-width: 576px){
  .count{
    margin: 30px auto;
  }
 
}
/*count end*/

.lucky{
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.lucky h1{
    font-family: 'popins', sans-serif;
    font-size: 50px;
    color: #000;
    font-weight: 700;
    line-height: 60px;
}
.lucky p{
  margin: 20px 0;
  font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
@media (max-width: 768px){
  .lucky{
    width: 70%;
  }
  .lucky h1{
    font-size: 40px;
    line-height: 50px;
}
}
@media (max-width: 576px){
  .lucky{
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
  }
    .lucky h1{
    font-size: 30px;
    line-height: 30px;
}
}


/*faq section end*/
 footer{
        width: 100%;
        min-height: 100px;
        margin-top: 100px;
        background-color: #333;
        background-size: initial;
        background-repeat: no-repeat;
        background-position: bottom center;
    }
    .f-container{
        max-width: 1200px;
        min-height: 100px;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }
    .social-icon a i{
        color: #fff;
    }
  @media (max-width:799px) {
      footer{
          margin-top: 60px;
      }
  }
  @media (max-width:576px) {
      footer{
          margin-top: 30px;
      }
      .f-container{ 
          flex-direction: column;
      }
  }